<p id="notice">
  <%= notice %>
</p>

<P>
  <strong>Title:</strong>
  <%= @book.title %>
</P>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: "commonlink" %>
｜
<%= link_to 'Back', books_path, class: "commonlink" %>